@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Jost' !important;
}
.greenGradient{
    background: linear-gradient(90deg, #7DE9FE 0%, #82FBED 100%);
}
.noScrollBar::-webkit-scrollbar {
    display: none;
}
.tasksProgress {
    width: 18% !important;
  }
  @media screen and (max-width: 1200px) {
    .tasksProgress .header {
      flex-direction: column !important;
      align-items: flex-start !important;
      justify-content: flex-start !important;
      .icon .iconImg {
        width: 15px !important;
      }
    }
    .yourTargetContainer {
      padding-top: 5rem;
      padding-bottom: 3rem;
    }
  }
  